h1 {
  text-align: center;
}

.square {
  height: 100px;
  width: 100px;
  border: 4px dashed black;
  font-size: 2rem;
  text-align: center;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  margin: 0 auto;
}