.background{

}

.title {
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: linear-gradient(45deg, #ff9900, #a200ff);
}

.square {
  height: 150px;
  width: 150px;
  border: 4px dashed black;
  font-size: 8rem;
  text-align: center;
  margin: auto;
  align-items: space-between;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  width: 474px;
  margin: 0 auto;
  border: 4px dashed black;
}